[Unit]
Description=Username Bot Telegram service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/opt/legal_username_bot
Environment=PYTHONUNBUFFERED=1
ExecStart=/opt/legal_username_bot/.venv/bin/python run.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
